.textCont{
    float: left;
}
#FormTitle{
    text-align: center;
    font-size: 40px;
}
/* #ChartForm{
    /* position: relative;
    margin: auto; */
    /* display: flex; */

    /* position: relative;
    justify-content: center;
    align-items: center; */
    /* width: 100%;
    height: 100%;
    position: relative;
    z-index: 2; 
    display: flex;
    align-items: center;
    justify-content: center; 
   
}  */
#userInputForm{
    margin: auto;
    border-radius: 5px;
    padding: 45px;
    background-color: #f2f2f2;
    /* display: inline-block; */
   
}
input[type = text]{
 
    width: 100%;
    padding: 15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    /* Added in order to not escape container */
    box-sizing: border-box; 
    margin-bottom: 20px;
   

}
input[type = "submit"]{
    width: 40%;
    background-color: rgb(2, 102, 216);
    color:white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s;


}
#myChart{
    background-color: #f2f2f2;
}
.floatLeft{
    float: left;
    
}
.floatRight{
    float: right;
}
#submitBtn{
    float: right;
    margin-left: 40px;
}
.center-align{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2; 
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;

}
#myChart{
    margin: auto;
    max-width: 100vw;
}

@media screen and (max-width:600px) {
    body,html{
        height:150vh;
        overflow:scroll;
    }
    .buttons{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #submitBtn{
        float:none;
        margin-bottom: 5%;
        margin-left: 0;
    }
    .center-align{
       margin-left: 10%;
       width:80%;
       overflow: hidden;
       margin-right: 10%;
    }
    #userInputForm{
        margin: 0;
        max-height: 80%;
        border-radius: 5px;
    }
}